<!DOCTYPE html>
<html lang="it" class="h-100">

<head>
    <!-- Common imports in pages -->

    <title>Pagina dei Risultati</title>
</head>

<body class="d-flex flex-column h-100">
    <!-- Fixed navbar -->

    <!-- Begin page content -->
    <main class="flex-shrink-0">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h5>Lista dei risultati</h5>
                </div>
                <div class="card-body">
                    <button class="btn btn-sm btn-outline-secondary" [routerLink]="['/atleta/insert']">  Add new</button>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Cognome</th>
                                    <th>In attività</th>
                                    <th>Data ultima gara</th>
                                    <th>Numero medaglie vinte</th>
                                    <th>Azioni</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let atletaItem of listaAtleti">
                                    <td>{{ atletaItem.nome}}</td>
                                    <td>{{ atletaItem.cognome}}</td>
                                    <td>{{ atletaItem.inAttivita ? "SI" : "NO"}}</td>
                                    <td>{{ atletaItem.dataUltimaGara | date : "dd/MM/yyyy"}}</td>
                                    <td>{{atletaItem.numeroMedaglieVinte}}</td>
                                    <td>
                                        <button class="btn btn-sm btn-outline-secondary" [routerLink]="['/atleta/detail',atletaItem.id]">
                                            Visualizza
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- end card-body -->
                </div>
                <!-- end card -->
            </div>

            <!-- end container -->
        </div>
        <br />
    </main>

    <!-- Footer -->
</body>

</html>